.box-upload{
    text-align: center;
    padding: auto;
    white-space: pre;
   display: block;
   background-repeat: no-repeat;
}

label{
    display: block;
  }

  button{
      border-radius: 20px;
      background-color: rgb(132, 183, 236);
  }

  input{
      border-radius: 4px;
  }

  img{
      width: 300px;
  }