.rodape {
    position: absolute;
    width: 100%;
    bottom: 0;    
    text-align: center;
    color: #ffffff;
    background-color: #0f55e0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 16px;
}