<div class="rodape">
    <h5>Acessibilidade na Web I Política de privacidade I Política de troca de produtos I Termo de uso I Mapa do
        site<br>
        @2021 Print3D. Todos os direitos reservados.<br>
       <a  href="https://api.whatsapp.com/send?phone=5581987741571&text=Ol%C3%A1%2C%20poderia%20me%20ajudar%3F%3F%3F"><img src="assets/img/whatsapp-logo-1.png" > </a>  (81) 98774-1571 
ou     <a  href="
https://api.whatsapp.com/send?phone=5581998450718&text=Ol%C3%A1%2C%20poderia%20me%20ajudar%3F%3F%3F"><img src="assets/img/whatsapp-logo-1.png" > </a>(81) 99845-0718
    </h5>
</div>